@use '../base';
@use '../media';
@use '../borderRadius';

$quick-start-content-xs: 50%;
$quick-start-content-sm: 55%;
$quick-start-content-md: 60%;
$quick-start-content-lg: 70%;

.createContentRoot {
    .tutorialContentRoot {
        .tutorialContent {
            width: $quick-start-content-xs;
        }
    }

    .createFormWrapper {
        width: calc(100% - #{$quick-start-content-xs});
        padding: 0 1rem;
    }
}

@include small {
    .createContentRoot {
        .tutorialContentRoot {
            .tutorialContent {
                width: $quick-start-content-sm;
            }
        }
    
        .createFormWrapper {
            width: calc(100% - #{$quick-start-content-sm});
        }
    }
}

@include medium {
    .createContentRoot {
        .tutorialContentRoot {
            .tutorialContent {
                width: $quick-start-content-md;
            }
        }
    
        .createFormWrapper {
            width: calc(100% - #{$quick-start-content-md});
        }
    }
}

@include large {
    .createContentRoot {
        .tutorialContentRoot {
            .tutorialContent {
                width: $quick-start-content-lg;
            }
        }
    
        .createFormWrapper {
            width: calc(100% - #{$quick-start-content-lg});
        }
    }
}

.createContentRoot {
    position: relative;
    .tutorialContentRoot {
        justify-content: start;
    }
    
    .createFormWrapper {
        @extend %flex-col;
        position: fixed;
        top: 6rem;
        right: 0;
    
        form {
            width: 100%;
            padding: 1rem;
            background-color: $white-edge;
            @extend %rounded-lg;
    
            .formSubject {
                font-weight: 600;
                display: block;
                width: 100%;
                font-size: x-large;
                text-align: center;
                margin-bottom: 1rem;
            }

            label {
                width: 100%;
                margin-top: 1.5rem;
                font-weight: 600;
                text-align: left;
            }
            
            input, textarea {
                width: 100%;
                padding: 0.5rem;
                text-align: left;
                margin: 0.25rem 0;
                background-color: transparent;
                border: 2px solid $intermediate;
                transition: all 0.2s ease;
                @extend %rounded-lg;
            }
    
            textarea {
                min-height: 7rem;
            }
    
            input:focus, textarea:focus {
                border: 2px solid $highlight;
            }
    
            button {
                @extend %basic-button;
                @extend %rounded-lg;
                transition: all 0.2s ease;
                font-size: large;
            }
    
            button:hover {
                cursor: pointer;
                filter: brightness(1.1)
            }

            .selectionWrapper {
                display: flex;
                align-items: flex-start;
                width: 100%;
                justify-content: space-between;
                margin-top: 0.25rem;
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

            .errorMessage {
                line-height: 1.1rem;
                color: tomato;
                text-align: left;
                margin-bottom: 0.5rem;
            }
        }
    }
}