@use '../base';
@use '../borderRadius';

#contentRoot {
    @extend %grid;
    grid-template-areas: 
        "content sidebar";
    gap: 0 1rem;
}

@include small {
    #contentRoot {
        grid-template-columns: 2.5fr 1.5fr;
    }
}

@include large {
    #contentRoot {
        grid-template-columns: 3.5fr 1.5fr;
    }
}

.mainContent {
    grid-area: content;
    @extend %flex-box;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.sideBar {
    grid-area: sidebar;
}

.createButton {
    display: flex;
    @extend %flex-box;
    justify-content: center;
    @extend %basic-button;
    @extend %rounded-md;
    margin-bottom: 1rem;
}

.createButton > div {
    display: table;
    margin-right: 0.5rem;
}

.createButton > div > a {
    @extend %base-basic-button;
    display: table-cell;
    vertical-align: top;
}

.sideBar {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
}

.aboutApp h1, h3 {
    text-align: center;
}

.aboutApp h1 {
    font-weight: 600;
    color: $black-edge;
    margin-bottom: 0.5rem;
}

.aboutApp h3 {
    line-height: 1.2rem;
    color: $highlight;
}

// .aboutApp button {
//     @extend %basic-button;
//     padding: 0.25rem 0;
//     margin-top: 0.25rem;
//     margin-bottom: 0.25rem;
//     @extend %rounded-lg;
// }

// .aboutApp button:hover {
//     cursor: pointer;
// }
