@use '../base';
@use '../borderRadius';
@use '../shadow';
@use '../margin';
@use '../media';
@use '../transition';


#loginContentRoot, #signupContentRoot, .sideBarWrapper .loginFormWrapper {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
}

#loginContentRoot, #signupContentRoot {
    height: 100vh;
    @extend %mx-auto;
    width: 91.67%;
    padding-top: 2rem;
}

@include small {
    #loginContentRoot, #signupContentRoot {
        width: 70%;
    }
}

@include medium {
    #loginContentRoot, #signupContentRoot {
        width: 60%;
    }
}

@include large {
    #loginContentRoot, #signupContentRoot {
        width: 50%;
    }
}

@include x-large {
    #loginContentRoot, #signupContentRoot {
        width: 40%
    }
}

#loginFormWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 1rem;
    transition: transform 0.2s ease;
}


.loginForm, .signupForm {
    width: 100%;
}

.loginForm__main, .signupForm__main {
    padding: 1rem;
    background-color: $white-edge;
    @extend %rounded-lg;
    @extend %shadow-lg;
    min-height: 20rem;
}

.socialLogins {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
}

.socialLogins > span {
    text-align: center;
    font-weight: 600;
    font-size: large;
    color: $black-edge;
}

.socialLogins__buttons {
    @extend %flex-box;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    #gSignInWrapper {
        width: 100%;
        span.label {
            font-family: serif;
            font-weight: normal;
        }
        #customBtn {
            @extend %flex-box;
            justify-content: center;
            padding: 1rem;
            background: transparent;
            color: $highlight;
            width: 100%;
            @extend %rounded-lg;
            font-weight: 600;
            font-size: large;
            border: 2px solid $line;
            @extend %bgcolor-on-change;
            span {
                vertical-align: middle;
                margin: 0 0.5rem;
            }
          }
            #customBtn:hover {
            cursor: pointer;
            background-color: $line;
            }
    }
}

// .socialLogins__buttons button {
//     border-radius: 50%;
//     padding: 0.75rem;
//     background-color: $line;
//     transition: filter 0.2s ease;

//     i {
//         font-size: 1.2rem;
//     }
// }

// .socialLogins__buttons button:hover {
//     cursor: pointer;
//     filter: brightness(1.1);
// }

// .socialLogins__buttons button:first-child, .socialLogins__buttons button:last-child {
//     margin: 0 1rem;
// }


.emailLogin {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
}

.emailLogin__subject {
    margin-bottom: 0.25rem;
}

.emailLogin__signup {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: x-large;
}


.emailLogin input {
    background-color: transparent;
    border: 2px solid $line;
    border-radius: 1rem;
    text-align: left;
    margin-top: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    transition: border 0.2s ease;
}

.emailLogin input:focus {
    border: 2px solid $intermediate;
}

.emailLogin .submitButton, .emailLogin .loadingButton, .emailLogin .cancelButton {
    margin-top: 0.25rem;
    background-color: $teal;
    border-radius: 1rem;
    border: none;
    font-weight: 600;
    text-align: center;
    padding: 0.6rem;
    width: 100%;
    color: $white-edge;
    @extend %filter-on-change;
}

.emailLogin .submitButton:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.emailLogin .loadingButton {
    filter: saturate(50%);
}

.emailLogin .cancelButton {
    background-color: gray;
    margin-top: 0.5rem;
    @extend %filter-on-change;
}

.emailLogin .cancelButton:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.emailLogin__error {
    text-align: center;
    margin-top: 0.25rem;
    color: tomato;
}

.signUp {
    @extend %flex-box;
    justify-content: center;
    margin-top: 1rem;

    button {
        text-align: center;
        strong {
            text-decoration: none;
            font-weight: bold;
            color: $python-blue;
        }
        strong:hover {
            cursor: pointer;
        }
    }
}

.loginContent__subject {
    font-size: x-large;
    font-weight: bold;
    color: $black-edge;
    text-align: left;
}

.signupForm {
    .notice span, .errorMessage {
        text-align: left;
        display: block;
        color: tomato;
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
