@use '../../base';
@use '../../borderRadius';
@use '../../shadow';

#appRoot {
    @extend %flex-col;
    width: 100%;

    .pseudoBackgroundImg, .backgroundImg {
        @extend %shadow-inner;
        width: 100%;
        @extend %flex-box;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: $white-edge;
    }

    .pseudoBackgroundImg {
        background-color: $python-blue;
        padding: 6rem 0;
    }

    .backgroundImg {
        height: 10rem;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(5px);
    }

    @include small {
        .pseudoBackgroundImg, .backgroundImg {
            height: 20rem;
            font-size: 4rem;
        }
    }
    
    @include large {
        .pseudoBackgroundImg, .backgroundImg {
            height: 30rem;
            font-size: 6rem;
        }
    }
    
    @include xx-large {
        .pseudoBackgroundImg, .backgroundImg {
            height: 40rem;
            font-size: 8rem;
        }
    }

    .appHeader {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        gap: 1rem;

        .appHeader__generalInfo, .appHeader__description {
            padding: 1.5rem;
            @extend %rounded-lg;
            border: 2px solid $line;
        }

        .appHeader__generalInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .infoWrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                h2 {
                    font-size: xx-large;
                    font-weight: bold;
                    color: $black-edge;
                    margin-bottom: 1rem;
                }
    
                h3 {
                    font-size: large;
                    font-weight: 600;
                    color: $black-edge;
                    margin-bottom: 1rem;
                }
    
                .link {
                    margin-bottom: 0.5rem;
                    i {
                        text-decoration: underline;
                        color: $python-blue;
                    }
                }
    
                h4 {
                    font-size: x-large;
                    font-weight: bold;
                    color: $black-edge;
                    margin-bottom: 0.5rem;
                }
            }

            .buttonWrapper {

                width: 100%;

                button {
                    @extend %rounded-lg;
                    margin-top: 0.5rem;
                    padding: 0.5rem 0;
                    width: 100%;
                    font-weight: 600;
                    font-size: large;
                    @extend %filter-on-change;
                }
    
                .deleteButton {
                    background-color: tomato;
                    color: $white-edge;
                }
    
                .modifyButton {
                    background-color: $teal;
                    color: $white-edge;
                }

                .updateButton {
                    background-color: $python-yellow;
                    color: $white-edge;
                }
            }

            button:hover {
                cursor: pointer;
                filter: brightness(1.1);
            }

        }

        @include medium {
            .appHeader__generalInfo {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .infoWrapper {
                    align-items: flex-start;
                }
                .buttonWrapper {
                    width: auto;
                    button {
                        min-width: 10rem;
                    }
                }
            }    
        }

        .appHeader__description {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            p {
                text-align: left;
                line-height: 1.2rem;
                font-size: large;
            }
        }
    }

    .outputContainer {
        @extend %flex-col;
        .outputContainer__result {
            @extend %flex-col;
            margin-bottom: 3rem;
            width: 100%;
            .subject {
                text-align: center;
                color: $highlight;
                font-size: xx-large;
                font-weight: bold;
                margin-bottom: 2rem;
            }
            .resultWrapper {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 1rem;
                @extend %rounded-lg;
                border: 2px solid $line;
                font-weight: 600;
            }
        }
        .outputContainer__log {
            @extend %flex-col;
            margin-bottom: 1.5rem;
            width: 100%;
            .subject {
                text-align: center;
                color: $highlight;
                font-size: xx-large;
                font-weight: bold;
                margin-bottom: 2rem;
            }
            .logWrapper {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 1rem;
                @extend %rounded-lg;
                border: 2px solid $line;
                background-color: $highlight;
                .log {
                    font-size: large;
                    font-weight: 600;
                    color: $white-edge;
                    @extend %flex-box;
                    justify-content: flex-start;
                }
            }
        }
    }
}

section {
    width: 100%;
    padding: 1.5rem;
}

@include small {
    section {
        width: $p11-12;
    }
}

@include large {
    section {
        width: $p9-12;
    }
}

@include xx-large {
    section {
        width: $p7-12;
    }
}



@import '../../components/input/Input';