@use '../borderRadius';
@use '../base';
@use '../transition';

.appCard {
    @extend %full;
    background-color: transparent;
    border: 1px solid $line;
    @extend %rounded-lg;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content auto min-content;
    transition: all 0.2s ease;
}

.appCard:hover {
    background-color: $line;
    @extend %shadow-md;
    cursor: pointer;
}

.appCard__description p::after {
    transition: all 0.2s ease;
}

.appCard:hover .appCard__description p::after {
    background-color: $line;
    cursor: pointer;
}

.appCard__name {
    @extend %flex-box;
    width: 100%;
    justify-content: start;
}

.appCard__name span {
    color: $black-edge;
    font-weight: bold;
    font-size: medium;
}

.appCard__description p {
    text-align: left;
}

.appCard__extraInfo {
    @extend %flex-box;
    width: 100%;
    justify-content: end;
}

.appCard__extraInfo span {
    color: $intermediate;
}
