@use '../borderRadius';
@use '../base';
@use '../transition';

.appCard {
    @extend %full;
    background-color: transparent;
    border: 1px solid $line;
    @extend %rounded-lg;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content auto min-content;
    transition: all 0.2s ease;
    font-family: Arial, Helvetica, sans-serif;
}


.appCard:hover {
    background-color: $line;
    @extend %shadow-md;
    cursor: pointer;
}

.appCard__description p::after, .appCard__name span::after {
    transition: all 0.2s ease;
}

.appCard:hover .appCard__description p::after, .appCard:hover .appCard__name span::after {
    background-color: $line;
    cursor: pointer;
}

.appCard__name {
    @extend %flex-box;
    width: 100%;
    justify-content: start;
}

.appCard__name span {
    color: $black-edge;
    font-weight: bold;
    font-size: medium;
}

.appCard__description p {
    text-align: left;
}

.appCard__extraInfo {
    @extend %flex-box;
    justify-content: end;
}

.appCard__extraInfo .itemWrapper {
    z-index: 5;
    @extend %flex-box;
    @extend %rounded-lg;
    padding: 0 0.5rem;
    justify-content: end;
    transition: background-color 0.2s ease;
}

.appCard__extraInfo .exportCount, .appCard__extraInfo .exportButton {
    color: $intermediate;
    transition: color 0.2s ease;
}

.appCard__extraInfo .exportButton {
    font-size: medium;
    margin-left: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.appCard__extraInfo .itemWrapper:hover .exportCount, .appCard__extraInfo .itemWrapper:hover .exportButton {
    color: $white-edge;
}

.appCard__extraInfo .itemWrapper:hover .exportButton {
    transform: rotateZ(180deg);
    font-size: large;
}

.appCard__extraInfo .itemWrapper:hover {
    background-color: $intermediate;
}

