@use '../base';

.appList {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 180px;
}

.appList__message {
    width: 100%;
    @extend %flex-box;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}