@use '../base';
@use '../shadow';

#footer {
    width: 100vw;
    height: 10rem;
    background-color: $highlight;
    margin-top: 5rem;
    @extend %flex-box;
    justify-content: center;
    @extend %shadow-lg;
}

#footer span {
    text-align: center;
    color: $intermediate;
}
