@use '../base';
@use '../shadow';
@use '../transition';


#navigation {
    @extend %flex-box;
    @extend %shadow-lg;
    justify-content: space-between;
    width: 100%;
    background-color: $white-edge;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 50;
}

.logoWrapper {
    padding: 0 1rem;
}

.logoWrapper:hover {
    cursor: pointer;
}

.logoWrapper a {
    font-weight: bold;
    color: $black-edge;
    font-size: x-large;
    text-decoration: none;
}

.navButton {
    color: $highlight;
    height: 100%;
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: none;
    @extend %highlight-on-hover;
}

.navButton:hover {
    height: 100%;
    cursor: pointer;
    background-color: $line;
}