@use '../../base';
@use '../../borderRadius';
@use '../../transition';


#appRoot {
    .inputContainer {
        .formElementWrapper {
            .formElement {
                .formElement__dict {
                    @extend %flex-col;
                    @extend %rounded-lg;
                    padding: 1rem 0;
                    background-color: $highlight;
                    border: 2px solid $line;
                    width: 100%;
                    .subject {
                        @extend %flex-box;
                        justify-content: center;
                        padding: 0 1rem;
                        width: 100%;
                        .dictInputNameWrapper {
                            @extend %flex-box;
                            justify-content: center;
                            width: 100%;
                            padding: 0 1rem;
                            div {
                                width: 10%;
                                @extend %flex-col;
                                justify-content: center;
                                padding: 0 0.5rem;
                                margin-bottom: 1rem;
                            }
                            .dictInputName {
                                width: 80%;
                                font-size: x-large;
                                font-weight: bold;
                                color: $white-edge;
                            }
                            button {
                                width: 100%;
                                color: white;
                                font-weight: 600;
                                font-size: x-large;
                                @extend %all-on-change;
                            }
                            button:hover {
                                cursor: pointer;
                                transform: scale(1.2);
                                filter: brightness(1.1);
                            }
                        }
                    }
                    .description {
                        @extend %flex-col;
                        @extend %rounded-lg;
                        width: 100%;
                        background-color: $intermediate;
                        padding: 1rem;
                        margin-bottom: 1rem;
                        
                        p {
                            text-align: center;
                            color: $white-edge;
                        }
                    }
                    .inputWrapper {
                        @extend %flex-col;
                        @extend %rounded-lg;
                        background-color: $base;
                        width: 100%;
                        padding: 1rem;
                        .dict {
                            .dict__row {
                                @extend %flex-box;
                                justify-content: center;
                                margin-bottom: 0.25rem;
                                input {
                                    flex: 3;
                                    margin-right: 0.25rem;
                                    padding: 0.5rem;
                                    border: 2px solid $intermediate;
                                    @extend %border-on-change;
                                    @extend %rounded-lg;
                                }
                                input:focus {
                                    border: 2px solid $highlight;
                                }
                                button {
                                    flex: 1;
                                    margin-left: 0.25rem;
                                    font-size: large;
                                    border-radius: 50%;
                                    padding: 0.5rem;
                                    @extend %bgcolor-on-change;
                                }
                                button:hover {
                                    cursor: pointer;
                                    background-color: $line;
                                }
                            }
                            .dict__add {
                                background-color: $teal;
                                width: 100%;
                                @extend %rounded-lg;
                                @extend %filter-on-change;
                                button {
                                    text-align: center;
                                    width: 100%;
                                    font-size: x-large;
                                    font-weight: bolder;
                                    color: $white-edge;
                                }
                                button:hover {
                                    cursor: pointer;
                                }
                            }
                            .dict__add:hover {                                
                                cursor: pointer;
                                filter: brightness(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}
