@import 'Boolean';
@import 'Dictionary';
@import 'Text';
@import 'List';

#appRoot {
    .inputContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .formElementWrapper {
            flex-grow: 1;
            padding: 0.5rem;
            .formElement {
                width: 100%;
            }
        }
        .runButtonWrapper {
            width: 100%;
            padding: 0 0.5rem;
            margin-top: 1rem;
            .runButton {
                width: 100%;
                padding: 1rem;
                font-size: x-large;
                background-color: $python-blue;
                color: $white-edge;
                font-weight: bold;
                @extend %rounded-lg;
                @extend %filter-on-change;
            }
            .runButton:hover {
                cursor: pointer;
                filter: brightness(1.1);
            }
        }
    }
}

.formElement__root {
    .name {
        input {
            text-align: center;
            color: white;
            font-weight: 600;
            border: 2px solid $intermediate;
            @extend %rounded-lg;
            padding: 0.5rem 0;
            font-size: large;
            width: 100%;
            @extend %border-on-change;
        }
        input:focus {
            border: 2px solid $line;
        }
    }
    .description {
        textarea {
            text-align: center;
            color: white;
            font-weight: 400;
            border: 2px solid $highlight;
            @extend %rounded-lg;
            width: 100%;
            padding: 0.5rem 0;
            min-height: 2.5rem;
            @extend %border-on-change;
        }
        textarea:focus {
            border: 2px solid $line;
        }
    }
}
