@use '../../base';
@use '../../borderRadius';
@use '../../transition';


#appRoot {
    .inputContainer {
        .formElementWrapper {
            .formElement {
                .formElement__text {
                    @extend %flex-col;
                    @extend %rounded-lg;
                    padding: 1rem 0;
                    background-color: $highlight;
                    border: 2px solid $line;
                    width: 100%;
                    .textInputNameWrapper {
                        @extend %flex-box;
                        justify-content: center;
                        width: 100%;
                        padding: 0 2rem;
                        div {
                            width: 10%;
                            @extend %flex-col;
                            justify-content: center;
                            padding: 0 0.5rem;
                            margin-bottom: 1rem;
                        }
                        .textInputName {
                            width: 80%;
                            font-size: x-large;
                            font-weight: bold;
                            color: $white-edge;
                        }
                        button {
                            width: 100%;
                            color: white;
                            font-weight: 600;
                            font-size: x-large;
                            @extend %all-on-change;
                        }
                        button:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                            filter: brightness(1.1);
                        }
                    }
                    .textInputDescription {
                        width: 100%;
                        padding: 1rem;
                        @extend %rounded-lg;
                        background-color: $intermediate;
                        @extend %flex-col;
                        p {
                            text-align: center;
                            color: $white-edge;
                        }
                    }
                    .textInputWrapper {
                        width: 100%;
                        @extend %rounded-lg;
                        @extend %flex-box;
                        justify-content: center;
                        background-color: $base;
                        margin-top: 1rem;
                        padding: 1.5rem 0.5rem;
                        input {
                            @extend %rounded-lg;
                            width: $p7-12;
                            padding: 0.5rem;
                            text-align: left;
                            border: 2px solid $intermediate;
                            @extend %border-on-change;
                        }
    
                        input:focus {
                            border: 2px solid $highlight;
                        }
                    }
                }
            }
        }
    }
}
