@use '../../base';


.tutorial__sideNav {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    button {
        padding: 1.25rem;
        text-align: center;
        color: $highlight;
        background-color: transparent;
        font-weight: 600;
        border-bottom: 2px solid $line;
        width: 100%;
        text-decoration: none;
        transition: background-color 0.2s ease;
    }

    button:last-child {
        border-bottom: none;
    }

    button:hover {
        cursor: pointer;
        background-color: $line;
    }
}