@use '../../base';


.tutorial__sideNav {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    a {
        padding: 1.25rem;
        text-align: center;
        color: $highlight;
        font-weight: 600;
        border-bottom: 2px solid $line;
        width: 100%;
        text-decoration: none;
    }

    a:last-child {
        border-bottom: none;
    }
}