@use '../../base';
@use '../../media';
@use '../../borderRadius';
@use '../../shadow';

$tutorial-content-xs: 60%;
$tutorial-content-sm: 65%;
$tutorial-content-md: 70%;
$tutorial-content-lg: 80%;

.tutorialContentRoot {
    .tutorialContent {
        width: $tutorial-content-xs;
    }

    .tutorialSideBarWrapper {
        width: calc(100% - #{$tutorial-content-xs});
    }
}

@include small {
    .tutorialContentRoot {
        .tutorialContent {
            width: $tutorial-content-sm;
        }

        .tutorialSideBarWrapper {
            width: calc(100% - #{$tutorial-content-sm});
        }
    }
}

@include medium {
    .tutorialContentRoot {
        .tutorialContent {
            width: $tutorial-content-md;
        }

        .tutorialSideBarWrapper {
            width: calc(100% - #{$tutorial-content-md});
        }
    }
}

@include large {
    .tutorialContentRoot {
        .tutorialContent {
            width: $tutorial-content-lg;
        }

        .tutorialSideBarWrapper {
            width: calc(100% - #{$tutorial-content-lg});
        }
    }
}

.tutorialContentRoot {
    @extend %flex-box;
    justify-content: end;
    position: relative;
    padding: 2rem;

    .tutorialSideBarWrapper {
        @extend %flex-box;
        position: fixed;
        justify-content: center;
        top: 8rem;
        left: 0;
        padding: 1rem;
        margin: 0 0.5rem;
        .tutorial__sideNav {
            background-color: $white-edge;
            @extend %flex-box;
            justify-content: center;
            @extend %rounded-lg;
            @extend %shadow-lg;

            a {
                transition: all 0.2s ease;
            }

            a:hover {
                background-color: $line;
            }
        }
    }

    .tutorialContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .tutorialContent__root {
            min-height: 70vh;
            background-color: $white-edge;
            padding: 1rem;
            @extend %rounded-lg;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h1 {
                font-weight: bold;
                font-size: x-large;
                margin: 1.5rem 0;
            }

            h2 {
                font-weight: 600;
                font-size: large;
                margin: 1rem 0;
                color: $teal;
            }

            h3 {
                font-weight: bold;
                font-size: large;
                margin: 1rem 0;
                color: $black-edge;
            }

            h4 {
                font-weight: 600;
                font-size: large;
                margin: 0.5rem 0;
                line-height: 1.5rem;
            }

            p {
                line-height: 1.1rem;
                margin: 2rem 0;
                font-size: medium;
                strong {
                    font-weight: bold;
                    margin-right: 0.5rem;
                }
            }

            .tutorial_onContentNavigation {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                span {
                    color: $python-blue;
                    font-weight: 600;
                    font-size: large;
                    margin-bottom: 0.5rem;
                    i {
                        margin-left: 0.25rem;
                        font-size: large;
                    }
                }

                span:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


.tutorial__about {
    .feedbackButtonWrapper {
        width: 10rem;
        margin-bottom: 3rem;
        button {
            @extend %base-basic-button;
            background-color: $teal;
            @extend %rounded-lg;
            width: 100%;
            transition: filter 0.2s ease;
            padding: 0.5rem 0;
            font-weight: 600;
        }
    
        button:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }
    }
}
