@use '../../base';
@use '../../media';
@use '../../borderRadius';
@use '../../shadow';

$tutorial-content-sm: 75%;
$tutorial-content-lg: 80%;


@include small {
    .tutorialContent {
        width: $tutorial-content-sm;

        .tutorialSideBarWrapper {
            width: calc(100% - #{$tutorial-content-sm});
        }
    }
}

@include large {
    .tutorialContent {
        width: $tutorial-content-lg;

        .tutorialSideBarWrapper {
            width: calc(100% - #{$tutorial-content-lg});
        }
    }
}

.tutorialContentRoot {
    @extend %flex-box;
    justify-content: end;
    position: relative;
    padding: 2rem;

    .tutorialSideBarWrapper {
        @extend %flex-box;
        position: fixed;
        justify-content: center;
        top: 8rem;
        left: 0;
        padding: 1rem;
        margin: 0 0.5rem;
        .tutorial__sideNav {
            background-color: $white-edge;
            @extend %flex-box;
            justify-content: center;
            @extend %rounded-lg;
            @extend %shadow-lg;

            a {
                transition: all 0.2s ease;
            }

            a:hover {
                background-color: $line;
            }
        }
    }

    .tutorialContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .tutorialContent__root {
            min-height: 70vh;
            background-color: $white-edge;
            padding: 1rem;
            @extend %rounded-lg;
            width: 100%;
            @extend %flex-box;
            flex-direction: column;
            justify-content: start;
        }
    }
}