$lh: 1rem;
$max-lines: 5;

.truncate-overflow {
    line-height: $lh;
    position: relative;
    max-height: calc(#{$lh} * #{$max-lines});
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
    line-height: $lh;
    position: absolute;
    content: "...";
    inset-block-end: 0; /* "bottom" */
    inset-inline-end: 0; /* "right" */
}
.truncate-overflow::after {
    line-height: $lh;
    content: "";
    position: absolute;
    inset-inline-end: 0; /* "right" */
    width: 1rem;
    height: 1rem;
    background: $base;
}

$lh-subject: 1.2rem;
$lines-subject: 1;

.truncate-subject {
    line-height: $lh-subject;
    position: relative;
    max-height: calc(#{$lh-subject} * #{$lines-subject});
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}
.truncate-subject::before {
    line-height: $lh-subject;
    position: absolute;
    content: "...";
    inset-block-end: 0; /* "bottom" */
    inset-inline-end: 0; /* "right" */
}
.truncate-subject::after {
    line-height: $lh-subject;
    content: "";
    position: absolute;
    inset-inline-end: 0; /* "right" */
    width: 1rem;
    height: 1rem;
    background: $base;
}

