

%bgcolor-on-change {
    transition: background-color 0.2s ease;
}

%filter-on-change {
    transition: filter 0.2s ease;
}

%border-on-change {
    transition: border 0.2s ease;
}

%all-on-change {
    transition: all 0.2s ease;
}

%transform-on-change {
    transition: transform 0.2s ease
}
