@import 'reset';
@import 'media';

/* Global variables */
$white-edge: #ffffff;
$base: #f1f3f8;
$line: #d6e0f0;
$intermediate: #8d93ab;
$highlight: #393b44;
$black-edge: #000000;

$python-blue: #3776ab;
$python-yellow: #ffd343;

$teal: #008080;



html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: $base;
  min-width: 100%;
  -ms-overflow-style: none;
}

:root {
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  display: none;
}

#mainBody {
  margin-top: 6rem;
  padding: 0 1rem;
  min-height: 100vh;
}

button, a {
  border: none;
}

* {
  box-sizing: border-box;
}

@import 'main';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

@import 'mixins/truncate';

@import 'components/NavBar';
@import 'pages/Home';
@import 'pages/Login';
@import 'pages/app/AppDetail';
@import 'components/Search';
@import 'components/AppList';
@import 'components/AppCard';
@import 'components/Footer';
@import 'components/Message';
@import 'components/mypy/MypyAppList';
@import 'components/mypy/MypySideBar';
