@import 'reset';
@import 'media';

/* Global variables */
$white-edge: #ffffff;
$base: #f1f3f8;
$line: #d6e0f0;
$intermediate: #8d93ab;
$highlight: #393b44;
$black-edge: #000000;

$python-blue: #3776ab;
$python-yellow: #ffd343;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: $base;
  min-width: 100%;
}

#mainBody {
  margin-top: 6rem;
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

@import 'mixins/truncate';

@import 'components/NavBar';
@import 'pages/app/AppDetail';
@import 'pages/Home';
@import 'components/AppCard';
@import 'components/Footer';
