@use '../../base';
@use '../../borderRadius';
@use '../../shadow';

.mypySideBar {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
    background-color: $white-edge;
    @extend %shadow-lg;
    @extend %rounded-lg;
    padding: 1.2rem;
}

.mypySideBar__info {
    @extend %flex-box;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.mypySideBar__info span {
    text-align: center;
    margin-bottom: 0.5rem;
}

.mypySideBar__name {
    font-size: x-large;
    font-weight: bold;
}

.mypySideBar__email {
    font-size: medium;
    font-weight: 400;
}

.mypySideBar__bio {
    font-size: small;
    text-align: left;
    margin-bottom: 1rem;
}

.mypySideBar__info button {
    width: 90%;
    padding: 0.5rem 2.5rem;
    margin-bottom: 0.25rem;
    @extend %rounded-md;
    text-align: center;
    color: $white-edge;
    font-weight: 600;
    transition: filter 0.2s ease;
}

.mypySideBar__info button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.mypySideBar__info {
    input, textarea {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: transparent;
        text-align: left;
        margin: 0.25rem auto;
        border: 1px solid $intermediate;
        @extend %rounded-md;
        transition: border 0.2s ease;
    }

    textarea {
        padding: 2.5rem 1rem;
    }

    input:focus, textarea:focus {
        border: 1px solid $highlight;
    }

    .mypySideBar__errorMessage {
        color: tomato;
    }

    .mypySideBar__guestLogin {
        border-bottom: none;
        @extend %flex-col;
        margin-top: 1rem;
        margin-bottom: -1.5rem;

        .sideBar__buttons {
            margin-top: 0.5rem;
            border-bottom: none;

            button {
                background-color: $teal;
                color: $white-edge;
                width: 100%;
            }
        }
    }
}

.mypySideBar__extraContent {
    @extend %flex-box;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    border-top: 1px solid $line;
    margin-top: 1rem;

    .sideBar__buttons {
        border-bottom: none;
    }
}
